{% extends 'adminmaster.html' %}
{% block content %}
<div class="content">
<div class="women_main">
	<!-- start content -->
<div class="card-columns">
  <div class="card bg-light">
    <div class="card-body text-center">
      <a class="card-text" href="/business/businessaddvehicle/">Home</a>
    </div>
  </div>
  <div class="card bg-light">
    <div class="card-body text-center">
      <a class="card-text" href="/business/businessaddvehicle/">Add Vehicle</a>
    </div>
  </div>
    <div class="card bg-light">
    <div class="card-body text-center">
      <a class="card-text" href="/manager/cars/">View Cars</a>
    </div>
  </div>
    <div class="card bg-light">
    <div class="card-body text-center">
      <a class="card-text" href="/business/businessdashboard/">Dashboard</a>
    </div>
  </div>

    <div class="card bg-light">
    <div class="card-body text-center">
      <a class="card-text" href="/manager/scooty/">View Scooters</a>
    </div>
  </div>
  <div class="card bg-light">
    <div class="card-body text-center">
      <a class="card-text" href="/manager/bikes/">View Bikes</a>
    </div>
  </div>
  <div class="card bg-light">
    <div class="card-body text-center">
      <a class="card-text" href="/user/logout/">Logout</a>
    </div>
  </div>
</div>
</div>
</div>
    {% endblock %}