{% extends 'indexMaster.html' %}
{% block content %}
<div class="container">
    <form method="post" enctype="multipart/form-data">
               {% csrf_token %}
    <div class="row" style="padding-top:60px;">
    <div class="col-md-3" style="border:1px solid grey;">
    <div class="d-flex justify-content-center" style="padding-top:20px;">
     <img src="/media/{{profile.vehicle_image1}}" height="130px" width="130px" style="margin-bottom:40px;border:1px solid black;border-radius:50%;"/>
    </div>
        {% if profile %}
        <div class="d-flex justify-content-center">
        <input type="email" name="email"   value={{profile.email}} readonly="True" style="border:none;">
        </div>
        <hr>
        {% endif %}
        <div class="title" name="pic" style="padding-left:40px;">Change Profile Picture
        </div>
        <div class="description">
            <input type="file" name="user_image" class="form_control" style="margin-top:10px;border:1px solid black;width:240px;height:200";>
        </div>

        <hr>
        <div class="" name="account" style="padding-left:40px;">
            <a href="/user/profile/" style="color:black;text-decoration:none;">Account</a>
        </div>
        <hr>
        <div class="" name="Profileverify" style="padding-left:40px;">
            <a href="/user/document/" style="color:black;text-decoration:none;">Profile Verification</a>
        </div>
        <hr>
        <div class="" name="Codriver" style="padding-left:40px;">
            <a href="/user/codriver/" style="color:black;text-decoration:none;">Co-Driver</a>
        </div>
        <hr>
    </div>
    <div class="col-md-9" style="border:1px solid grey;">
        <div class="form-layout">

         <h3 class="d-flex justify-content-center" style="padding:20px;">Profile Verification</h3><hr>
            Step 3 of 3
            <div class="row" style="padding-top:10px;">
            <div class="col-md-11" style="border:1px solid grey;margin-left:35px;margin-bottom:35px;">

              <div class="form-group">
                  <div class="row" style="height:40px;">
                      <div class="col-md-10">
                <label style="margin:10px;">Live Picture</label>
                <!-- Button trigger modal -->
                      </div>
                      <div class="col-md-2">
                <button type="button" class="btn btn-outline-info" data-toggle="modal" data-target="#exampleModalScrollable2" style="margin:10px;">
                  UPLOAD
                </button>
                      </div>
                  </div>


                <div class="modal fade" id="exampleModalScrollable2" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle2" aria-hidden="true" style="padding-top:160px;margin-top:40px;">
                  <div class="modal-dialog modal-dialog-scrollable" role="document">
                    <div class="modal-content">
                      <div class="modal-header d-inline-flex" style="padding-top:30px;margin-top:40px;">
                          <div class="modal-title" style="padding-left:70px;padding-top:15px;font-weight:600;font-size:25px;" id="exampleModalScrollableTitle2">Upload Live Picture</div>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div  style="background-color:#E6E6FA;margin-left:70px;margin-right:70px;margin-top:20px;padding-bottom:25px;">
                          <div style="padding-left:60px;">
                              <div style="padding-left:40px;">
                              <img src="/media/gallery.png" style="width:100px;height:100px;margin:30px;border-radius:50px;"></br>
                              <div style="margin-left:45px;padding-bottom:10px;">Gallery</div>
                              </div>
                              <input type="file" name="user_image19" class="form_control" style="width:240px;height:200";>



                          </div>

                      </div>

                      <div class="modal-body" style="margin-left:70px;margin-right:70px;margin-top:30px;" >
                          <div style="font-weight:600;font-size:18px;">Guidelines</div>
                          <div>
                           -> Image should be clearly visible and not blurred.
                          </div>



                      </div>
                      <div class="modal-footer d-flex justify-content-center">
                         <button type="submit" class="btn btn-info" name="livephoto">UPLOAD</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
        </div>
    </div>
        </div>

        <hr>
        <strong class="d-flex justify-content-center" style="padding-top:30px;">Why do I need to verify my profile?</strong></br>
        <div class="d-flex justify-content-center" style="padding-bottom:80px;" >Your profile verification allows the VRental community to share cars seamlessly.</div>

    </div>
    </div>
    </form>
</div>
{% endblock %}