{% extends 'usermasterpage.html' %}

{% block content %}
<div class="container d-flex justify-content-center">
   <div class="form_grping" style="margin-top:220px;">
      <form enctype="multipart/form-data" method="POST" >
        {% csrf_token %}
        <div class="form-group">
        <div class="top1">PASSWORD UPDATE</div>
        <br/>
        </div>
        {% if OTP %}
        <div class="form-group">
        <label style="padding-left:15px">  OTP</label>
        </div>
        <div class="form-group d-flex justify-content-center">
           <input type="text" name = "otp" id="OTP" />
        </div>
        <div class="form-group">
        <label style="padding-left:15px">  NEW-PASSWORD</label>
        </div>
        <div class="form-group d-flex justify-content-center">
        <input type="hidden" name = "new_password" />
        </div>
        <div class="form-group">
        <label style="padding-left:15px">  CONFIRM-PASSWORD</label>
        </div>
        <div class="form-group d-flex justify-content-center">
        <input type="hidden" name = "confirm_password" />
        </div>
        <div class="form-group d-flex justify-content-center">
            <br/>
        <button type="submit" value="CONFIRM" class="btn btn-danger" style=" padding-left:20px;
    padding-right:20px;"><strong>CONFIRM</strong></button>
        </div>
        {% endif %}
        {% if updatepassword %}
        <div class="form-group d-flex justify-content-center">
        <input type="hidden" name = "otp"  />
        </div>
        <div class="form-group">
        <label style="padding-left:15px">  NEW-PASSWORD</label>
        </div>
        <div class="form-group d-flex justify-content-center">
        <input type="password" name = "new_password" />
        </div>
        <div class="form-group">
        <label style="padding-left:15px">  CONFIRM-PASSWORD</label>
        </div>
        <div class="form-group d-flex justify-content-center">
           <input type="text" name = "confirm_password" />
        </div>
        <div class="form-group d-flex justify-content-center">
            <br/>
        <button type="submit" value="UPDATE" class="btn btn-danger d-flex justify-content-center" style=" padding-left:0px;
    padding-right:0px;"><strong>UPDATE</strong></button>
        <br/>
        </div>
        {% endif %}
      </form>
  </div>
</div>
{% endblock %}