{% extends 'indexMaster.html' %}
{% block content %}
<div class="container">
<nav class="d-flex justify-content-center" aria-label="...">
      <ul class="pagination">
        <li class="page-item active bg-info" aria-current="page">
          <span class="page-link" style="background-color:#17a2b8 ">
            Fee Policy
            <span class="sr-only">(current)</span>
          </span>
        </li>
        <li class="page-item"><a class="page-link" href="/user/eligibility">Eligibility</a></li>
      </ul>
</nav>
<table class="table table-striped">
<div style="margin-bottom:20px;">
<b>
VRental takes pride in being completely transparent with our members. Here is a comprehensive list of fees for certain scenarios after you have created your reservation.
</b>
</div>
<tbody>
<tr>
<td>
Cancellation
</td>

<td>
Cancellation made more than 36hrs before booking start: ₹ 1000</br>
Cancellation made within 24hrs of booking start: ₹ 5000</br>
Cancellation made after booking start: No Refund</br>
(Cancellation refund will be done through the original payment method within 7- 10 business days)
</td>
</tr>
<tr>
<td>
Reschedule before start #
</td>
<td>
Not Available
</td>
</tr>
<tr>
<td>
Extension post start #
</td>
<td>

Not Possible. Please carefully Select your Time Slots
</td>
</tr>
<tr>
<td>
Shortening post start
</td>
<td>

No charges or refunds applicable
</td>
</tr>
<tr>
<td>
Shortening/Rescheduling within 24hrs of booking start or booking end.
</td>
<td>
Not Possible. Please carefully Select your Time Slots
</td>
</tr>
<tr>
<td>
Late Return
</td>
<td>
Late return would be charged at Four times the hourly fee for use of the vehicle.
</td>
</tr>
<tr>
<td>
Pricing plan change
</td>
<td>
Pricing plan cannot be changed post booking creation. Pricing will be charged on an hour basis.
</td>
</tr>
<tr>
<td>
FreeKms and Minimum Duration
</td>
<td>
The freekms allotted to the customer will be 20kms . The minimum booking duration for the prices will be charged is 4hrs.
</td>
</tr>
<tr>
<td>
Speed Governor
</td>
<td>
The Vehicle may be enabled with speed governor in compliance with the applicable Government regulations, that limits speed of the Vehicle upto 80 km/h on a Highway and 40km/h in the City. User must limit the speed According to Road Signs.
</td>
</tr>
<tr>
<td>
Breakdown of vehicle
</td>
<td>

1. The Member shall be responsible for the costs related to the repair, recovery, and loss of use of any VRental vehicle resulting from any of the foregoing, up to the current damage fee, as set forth in the Fee Policy / Rate Schedule (if such costs are because of the fault of the Member or if the fault is not directly established to any other person/ entity, or where any cost is not paid / reimbursed by the insurer of VRental vehicles or the insurer of the other vehicle involved in the accident).
</br>
</br>
2. Where the Member is not responsible for the breakdown of the VRental vehicle, VRental shall provide another Vehicle for unused hours of such booking. Further, VRental shall not be liable for any further costs borne by the Member as a consequence of the breakdown of the VRental vehicle
</br>
</td>
</tr>
<tr>
<td>
Traffic and Parking violations
</td>
<td>
Full payment of fines
</td>
</tr>
<tr>
<td>
No Show
</td>
<td>
Bookings would stand cancelled if after 4 hours of booking start time the customer still doesn’t show up.
</br>No refunds would be applicable.
</td>
</tr>
<tr>
<td>
Wrong Fuelling
</td>
<td>
The member will be liable for the full cost of damage to the vehicle + miscellaneous expenses arising out of the damages.
</br>Recommendation- VRental would recommend that the member consult the RC Documents of the rented vehicle for information as to the correct fuel type.
</td>
</tr>
<tr>
<td>
Towing and Impounding
</td>
<td>
No cost if caused by vehicle failure.
</br>Full cost if caused by user negligence
</td>
</tr>
</tbody>
</table>
<div>
<b>
Note: Payments owed by members will be deducted from the security deposit. If the security deposit does not cover such payments, the balance must be paid by the member electronically.
</b>
</div>
<div style="margin-top:20px;">
*Please note there are four cases where there will be exceptions:
In the event the member is found to be under the influence of alcohol during a booking, the member will be held liable for 100% of the vehicle damage bill as per the invoice received from the vehicle workshop.
</div>
<div style="margin-top:20px;">
The member will be liable for 100% of the entire vehicle damage bill in the event that the vehicle workshop and/or insurance company deem the damage to be consequential in nature (this will be clearly stated in the accident report).
Consequential damage-VRental occurs when the member continues driving even after an external vehicle impact, thereby severely undermining the condition of the vehicle.
In the event a non- member is found to be the one driving at the time of accident, then the member will be held liable for 100% of the vehicle damage bill as per the invoice received from the workshop.
</div>
<div style="margin-top:20px;">
<b>Member's Responsibility</b>
</div>
<div style="margin-top:20px;">
If a VRental member is violating the law or VRental rules, for example by overspeeding or driving drunk, the member will be responsible for all damage, liability, and fines and could face legal action.
</div>
<div style="margin-top:20px;">
<b>Responsibility for Payment:</b>
</div>
<div style="margin-top:20px;">
<div>
Payments by Members shall be made with his/her credit card or debit card. The Member is under obligation to ensure that the account from which the amounts are to be collected have sufficient funds or credit available to cover any charges. Member is solely responsible for any associated bank or credit card charges or fees. Member may be charged a processing fee for a declined credit or debit card payment.
</div>
<div style="margin-top:15px;">
In the event the Member defaults on any payments, VRental is entitled to charge reminder fees and default interest in accordance with the provisions of the law. In addition, VRental may utilize third parties to collect amounts owed to VRental by a Member.
</div>
<div style="margin-top:20px;">
With all fees mentioned above, VRental reserves the right to prohibit a Member from making a subsequent reservation until all outstanding fees in the Member's account have been paid in full.
</div>
</div>
<div style="margin-top:20px;">
<b>Collision or other incident:</b>
</div>
<div style="margin-top:20px;">
<div>
VRental provides full wrap unlimited third party liability insurance without a
maximum cap.
</div>
<div style="margin-top:15px;">
If member is involved in an unintentional/non consequential incident/accident
(including but not limited to a collision or misuse of the vehicle).
Member will be responsible for a standard insurance deductible payment of up to ₹ 10,000. The Member will be obligated to pay the repair cost up to ₹ 10000. The payment owed will be deducted from the security deposit, if any. Should the security deposit not cover the payment (in the case the Member has accrued late return, excess km, etc charges) the balance of the payment owed shall be payable by the Member separately as an additional outstanding.
</div>
<div style="margin-top:15px;">
Member will be responsible for all towing and impounding charges associated with a collision.
</div>
<div style="margin-top:15px;">
Member will be responsible for all towing and impounding charges caused by member failure.
</div>
<div style="margin-top:15px;">
VRental will be responsible for all towing and impounding charges caused by vehicle failure.
</div>
<div style="margin-top:15px;">
Member will be responsible for all applicable damages and costs, including those in excess of the applicable Damage Fee, arising from the Member's failure to comply with the terms of the Agreement and/or a violation of the law.
</div>
</div>
<div style="margin-top:20px;">
<b>Tolls:</b>
</div>
<div style="margin-top:20px;">
<div>
Members are responsible for paying all tolls at the time they are due.
</div>
<div style="margin-top:15px;">
VRental vehicles are registered with an All India Permit, allowing the vehicle to enter any state in the country.
</div>
<div style="margin-top:15px;">
Members must pay all inter-state taxes and fees upon entering into a neighbouring state.
</div>
<div style="margin-top:15px;">
VRental reserves the right to change the terms of this Policy from time to time and shall give notice of such changes to the Member in a timely manner. Notice to the Members shall be considered given when such notice is indicated and accessible from the first page accessed after the Member log-on to the VRental website, or by email to the Member's email address provided to VRental in the Member's application or most recently provided to VRental.
</div>
</div>
</div>
{% endblock %}