{% extends 'indexMaster.html' %}
{% block content %}


<h3 class="d-flex justify-content-center" style="padding-top:100px;padding-bottom:50px;">Your Account</h3>

<div class="userProfile" style="padding-top:90px;">
    <div class="card-deck">
    <div class="card mb-4" style="max-width: 330px;height:100px;margin-left:300px;">
          <div class="row no-gutters">
            <div class="col-md-4" style="padding-left:40px;padding-top:20px;">

                <img src="https://img.icons8.com/dusk/48/000000/name.png">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                  <h5 class="card-title"><a href="/user/profile/">My Profile</a></h5>
                <p class="card-text" style="font-size:12px;">Edit or Add
              </div>
            </div>
          </div>
    </div>

     <div class="card mb-4" style="max-width: 330px;height:100px;margin-left:30px;">
          <div class="row no-gutters">
            <div class="col-md-4" style="padding-left:40px;padding-top:20px;">
                <img src="https://img.icons8.com/officel/48/000000/keyhole-shield.png">

            </div>
            <div class="col-md-8">
              <div class="card-body">
                  <h5 class="card-title"><a href="/user/forget/">Change Password</a></h5>
                <p class="card-text" style="font-size:12px;">Forget Password? Click here</div>
            </div>
          </div>
    </div>



    <div class="card mb-4" style="max-width: 330px;height:100px;margin-left:30px;">
          <div class="row no-gutters">
            <div class="col-md-4" style="padding-left:40px;padding-top:20px;">
                <img src="https://img.icons8.com/officel/48/000000/key-exchange.png">

            </div>
            <div class="col-md-8">
              <div class="card-body">
                  <h5 class="card-title"><a href="/user/ubookingsonly_all/">Your Orders</a></h5>
                <p class="card-text" style="font-size:12px;">Return,Track
              </div>
            </div>
          </div>
    </div>

</div>


</div>
{% endblock %}