{% extends 'adminmaster.html' %}
{% block content %}
<div class="content">
<div class="women_main" style="width:500px;height:300px;margin-left:400px;margin-top:70px">
<div class="addCategory">
<form method="post">
    {% csrf_token %}

    <div class="" style="text-align:center;padding-top:30px;padding-bottom:30px;"><h4>Add City</h4></div>
    <div style="padding-left:30px;">
    <input type="text" name="city" placeholder="Add City">
    <input type="submit" class="btn btn-danger" value="Add">
    <a href="/manager/viewcity/" class="btn btn-danger" role="button">View</a>
    </div>

</form>
</div>
</div>
</div>

{% endblock %}



